In [1]:
import pandas as pd
import numpy as np
from pyECLAT import ECLAT

In [2]:
df_market = pd.read_csv('../Bases de dados/mercado.csv',header=None)
df_market

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [3]:
eclat = ECLAT(data=df_market)

In [4]:
eclat.df_bin

   pao  leite  manteiga  cafe  feijao  arroz  cerveja
0    1      1         1     0       0      0        1
1    1      0         1     1       0      0        0
2    1      0         1     1       0      0        0
3    1      1         1     1       0      0        0
4    0      0         0     0       0      0        1
5    0      0         1     0       0      0        0
6    1      0         0     0       0      0        0
7    0      0         0     0       1      0        0
8    0      0         0     0       1      1        0
9    0      0         0     0       0      1        0

In [5]:
eclat.uniq_

[nan, 'pao', 'leite', 'manteiga', 'cafe', 'feijao', 'arroz', 'cerveja']

In [6]:
index, support = eclat.fit(min_support=0.3,min_combination=1,max_combination=3)

Combination 1 by 1

3it [00:00, 106.72it/s]

Combination 2 by 2

3it [00:00, 79.95it/s]

Combination 3 by 3

1it [00:00, 82.24it/s]

In [7]:
index

{'pao': [0, 1, 2, 3, 6],
 'manteiga': [0, 1, 2, 3, 5],
 'cafe': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & manteiga & cafe': [1, 2, 3]}

In [8]:
support

{'pao': 0.5,
 'manteiga': 0.5,
 'cafe': 0.3,
 'pao & manteiga': 0.4,
 'pao & cafe': 0.3,
 'manteiga & cafe': 0.3,
 'pao & manteiga & cafe': 0.3}